
html,body,div,header,nav,li,a,span,form,ul,section,h1,h2,h3,h4,h5,h6,input,textarea,i,p,select,option,img{
	margin: 0;
	padding: 0;
}
body{
　　font: normal 100% Helvetica, Arial, sans-serif;
}

.clearfloat{
	clear: both;
}

img{
	max-width: 100%;
}


.public-header{
	height: 3.625em;
}

.public-header .logo{
	float: left;
	margin-top: 0.75em;
	background: url("../img/logo.png") no-repeat;
	background-position: 2px 0px;
	/*width: 7.5em;*/
	width: 13.04347826%; /*120/920*/
	height: 36px;
}
.public-header .logo a{
	font-size: 1.375em;
	text-decoration: none;
	color: #393a3a;
	/*margin-left: 40px;*/
	margin-left:33.33333%;  /*40/120*/
}

.public-container{
	width: 92%;
	margin: 0 auto;
}
